body{
    font-family: 'Press Start 2P', cursive;
    background: #0d1117;
    color: #c9d1d9;
}

.game-container{
    border: 4px solid #30363d;
    box-shadow: 0 0 20px rgba(0, 255, 0, 0.3)
}

canvas{
    background-color: #010409;
}